---
import { Image } from "astro:assets";
import heroImage from "assets/hero.png";
import logo from "assets/japodium.svg";
import background from "assets/japodium-bg.png";
import playstore from "assets/google-play.svg";
import appstore from "assets/app-store.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="bg-background w-full h-[100vh] m-0 relative overflow-hidden">
  <Image
    src={background}
    alt="Astronaut in the air"
    class="absolute object-contain z-30 top-0 -right-1/3 lg:right-0 h-full w-auto opacity-10"
    loading="eager"
  />
  <div class="flex flex-col h-full w-full items-center justify-evenly px-4">
    <div class="flex flex-1 items-end">
      <Image
        src={logo}
        alt="Astronaut in the air"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
      />
    </div>
    <div class="flex-1 flex flex-col gap-8 justify-center max-w-xs">
      <Link
        href="#"
        target="_blank"
        class="flex items-center justify-center border-0"
        rel="noopener">
        <Image
          class="max-h-[36px]"
          src={playstore}
          alt="Download on Google Play"
        />
        <Link
          href="#"
          target="_blank"
          class="flex items-center justify-center border-0"
          rel="noopener">
          <Image
            src={appstore}
            class="max-h-[36px]"
            alt="Download on App Store"
          />
        </Link>
      </Link>
    </div>
    <div class="w-full justify-self-end text-center my-4">
      <a
        href="/privacy"
        class="text-center text-sm text-gray underline hover:text-gray-light active:text-gray-light"
        >Privacy Policy</a
      >
      <p class="text-center text-sm text-gray mt-2">
        Copyright © {new Date().getFullYear()} Japodium. All rights reserved.
      </p>
    </div>
  </div>
</main>
